:root {
  --primary-color: #00d2ff; 
  --dark-bg: #121212;      
  --text-color: #e0e0e0;    
}

body {
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Personalización de Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--dark-bg);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}


.text-cyan {
  color: var(--primary-color) !important;
}

.btn-zhennova {
  background-color: var(--primary-color);
  color: #000;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

.btn-zhennova:hover {
  background-color: #00b8e6;
  color: #000;
  transform: translateY(-2px);
}